export(mpl_fitter)
export(get_psi)
export(make_pd_fix)
export(make_pd_re)
export(mv_multiplier)
export(make_pseudo_data_rand)
export(get_data_plot_cloglik)
import(brglm2)
import(glmmTMB)
importFrom("stats", "binomial", "dnorm", "formula", "glm", "optimise",
                "plogis", "pnorm", "predict", "uniroot", "vcov")
importFrom("brglm2","brglmFit")
